<?xml version="1.0" encoding="UTF-8"?>

<!--<!DOCTYPE web-app PUBLIC-->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->



<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.HomeLandingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Schedule</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/trainSchedule</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Staff</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.StaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Staff</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserCredentials</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.UserCredentialsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCredentials</servlet-name>
    <url-pattern>/userCredentials</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Train</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.TrainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Train</servlet-name>
    <url-pattern>/train</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Journey</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.JourneyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Journey</servlet-name>
    <url-pattern>/journey</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Stations</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.StationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stations</servlet-name>
    <url-pattern>/stations</url-pattern>
  </servlet-mapping>

 
  <servlet>
    <servlet-name>Lines</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.LineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lines</servlet-name>
    <url-pattern>/lines</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TicketPrice</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.TicketPriceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketPrice</servlet-name>
    <url-pattern>/ticketPrice</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Rates</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.RatesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rates</servlet-name>
    <url-pattern>/rates</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Booking</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Season</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.SeasonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Season</servlet-name>
    <url-pattern>/season</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Announcement</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.AnnouncementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Announcement</servlet-name>
    <url-pattern>/announcement</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ForgetPW</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.FogetPWController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPW</servlet-name>
    <url-pattern>/forgetPW</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ParcelReceiving</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ParcelReceivingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelReceiving</servlet-name>
    <url-pattern>/parcelReceiving</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Roles</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.RoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Roles</servlet-name>
    <url-pattern>/roles</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ParcelBooking</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ParcelBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelBooking</servlet-name>
    <url-pattern>/parcelBooking</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ParcelApprove</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ApproveParcelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelApprove</servlet-name>
    <url-pattern>/approveParcel </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ParcelCategory</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ParcelCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelCategory</servlet-name>
    <url-pattern>/parcelCategory</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddParcelsToTrain</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.AddParcelToTrainsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParcelsToTrain</servlet-name>
    <url-pattern>/addParcelsToTrain</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ParcelTracking</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.ParcelTrackingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelTracking</servlet-name>
    <url-pattern>/parcelTracking</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>org.ucsc.railboostbackend.controllers.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NotificationServlet</servlet-name>
    //notification controller
    <servlet-class>org.ucsc.railboostbackend.controllers.NotificationController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/notifications</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.ucsc.railboostbackend.services.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern> <!-- Specify the URL pattern to which the filter applies -->
  </filter-mapping>


  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>org.ucsc.railboostbackend.services.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern> <!-- Specify the URL pattern to which the filter applies -->
  </filter-mapping>


  <listener>
    <listener-class>org.ucsc.railboostbackend.services.CronScheduler</listener-class>
  </listener>

</web-app>


